<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Piotr Husiatyński">
  <title>
    {{- block "title" . -}}
      {{- if .Title -}}
        {{ .Title }}
      {{- else -}}
        {{ .Site.Title }}
      {{- end -}}
    {{- end -}}
  </title>
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>

<body>
  <div>
    <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

    {{ if isset .Site.Params "githubusername" -}}
      <link href="https://{{ .Site.Params.githubUsername }}.github.io/blog/" rel="me">
      | <a rel="me" class="u-url" href="https://github.com/{{ .Site.Params.githubUsername }}" title="GitHub">GitHub</a>
    {{- end }}

    {{ if isset .Site.Params "twitterusername" -}}
      | <a rel="me" class="u-url" href="https://twitter.com/{{ .Site.Params.twitterUsername }}" title="Twitter">Twitter</a>
    {{- end}}

    {{ if isset .Site.Params "stackoverflowusername" -}}
      | <a rel="me" class="u-url" href="https://stackoverflow.com/cv/{{ .Site.Params.stackoverflowusername }}" title="Stack Overflow CV">Stack Overflow</a>
    {{- end}}

    {{ if isset .Site.Params "cvlink" -}}
      | <a rel="me" class="u-url" href="{{ .Site.Params.cvlink }}" title="CV">CV</a>
    {{- end}}

    {{ if isset .Site.Params "gpg" -}}
      | <a rel="me" class="u-url" href="{{ .Site.Params.gpg }}" title="GPG">GPG key</a>
    {{- end}}

  </div>
