* {
	box-sizing: border-box;
}
body {
	color: #000;
	margin: 40px auto 120px auto;
	padding: 0 10px;
	max-width: 1020px;
	font-size: 18px;
	line-height: 28px;
}
code {
	background-color: #f3f3f3;
	border-radius: 3px;
	border: 1px solid #ddd;
	padding: 0 5px;
}
pre code {
	line-height: 140%;
	font-size: 14px;
}

h1 {
	font-size: 180%;
}
h1, h2, h3 {
	margin: 80px 0 40px 0;
	border-bottom: 1px solid #ddd;
}

ul li {
	list-style: circle;
}

hr {
	border: none;
	height: 1px;
	color: #ddd;
	background-color: #ddd;
	margin: 80px 0 40px 0;
}
