{{ partial "header" . }}

<h2>
  Posts
  {{ with .OutputFormats.Get "RSS" }}
    <small>(<a href="{{ .Permalink }}">rss</a>)</small>
  {{ end }}
</h2>
{{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
{{ range sort .Paginator.Pages }}
  <ul class="h-feed">
    <li class="h-card">
      <a class="u-url p-name" href="{{ .Permalink }}">{{ .Title }}</a>
      {{ if .Draft }}<strong>[draft]</strong>{{ end }}
      | <time class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}" title="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      {{ if .Params.tags }}
        | {{ partial "tags" .Params.tags }}
      {{ end }}
    </li>
  </ul>
{{ end }}

{{ partial "footer" . }}
