{{ partial "header" . }}


<article class="h-entry">
  <h1 class="title p-name">
    {{- .Title -}}
    {{- if .Draft }} <strong>[draft]</strong>{{ end -}}
  </h1>

  {{if not .Date.IsZero }}
    <div>
      <small>
        Published: <time class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}" title="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      </small>
    </div>
  {{ end }}

  {{ if .Params.tags }}
    <div>
      <small>
        Tags: {{ partial "tags" .Params.tags }}
      </small>
    </div>
  {{ end }}

  {{if .Params.TOC}}
    <aside class="toc">
      {{ .TableOfContents }}
    </aside>
  {{end}}

  <article class="e-content">
    {{- .Content -}}
  </article>

  {{if .Params.comments}}
    <hr>

    <div>
      Follow the discussion on <a href="{{ index .Params.comments 1 }}">{{ index .Params.comments 0 }}</a>.
    </div>
  {{ end }}
</article>

{{ partial "footer" . }}
